<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8 offset-1">
    <br>
    <h2>Add New Listing</h2>
    <br>

    <form method="POST" action="/listings">
        <div class="mb-4">
            <label for="title" class="form-label">Enter Title : </label>
            <input type="text" id="title" placeholder="Enter title" name="listing[title]" class="form-control">
        </div>
        
        <div class="mb-4">
            <label for="desc" class="form-label">Enter Description : </label>
            <textarea class="form-control" id="desc" name="listing[description]" placeholder="Enter description"></textarea>
        </div>
        
        <div class="mb-4">
            <label for="image" class="form-label">Enter Image URL/Link : </label>
            <input class="form-control" type="text" id="image" placeholder="Enter image URL/Link" name="listing[image]">
        </div>
        
        <div class="row">
            <div class="mb-4 col-md-4">
            <label for="price" class="form-label">Enter Price : </label>
            <input class="form-control" type="number" id="price" placeholder="Enter price" name="listing[price]">
            </div>
        
            <div class="mb-4 col-md-8">
            <label for="location" class="form-label">Enter Location : </label>
            <input class="form-control" type="text" id="location" placeholder="Enter location" name="listing[location]">
            </div>
        </div>
        
        
        <div class="mb-4">
            <label for="country" class="form-label">Enter Country : </label>
            <input class="form-control" type="text" id="country" placeholder="Enter country" name="listing[country]">
        </div>
    
        <button class="btn btn-dark add-btn">ADD</button>
        <br><br>
    </form>
    </div>
    </div>
</body>